@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color:#FFFFFF;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: #141A1A;
    width: 100vw;
}
header {
    display: flex;
    justify-content: center;
    padding: 15px;
}
nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
header nav .nav-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
header nav .nav-logo img {
}
header nav .nav-logo p {
    font-size: 1.5rem;
    
}
header nav .nav-menu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around;
}
header nav .nav-menu a {
    font-size: 1rem;
}




main {
}
main .hero {
    padding: 15px
}
main .hero  span {
    color: #0872BF;
}
main .hero .hero-container {
    display: flex;
    flex-direction: column;
}
main .hero .hero-container .hero-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
main .hero .hero-container .hero-text .hero-saludo {
}
main .hero .hero-container .hero-text h1 {
    color: #0872BF;
}
main .hero .hero-container .hero-text h2 {
    font-size: 1rem;
}
main .hero .hero-container .hero-text p {
    font-size: 0.9rem;
}
main .hero .hero-container .hero-text button {
    background-color: #0872BF;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
}
main .hero .hero-container .hero-text .hero-redes {
    display: flex;
    align-items: center;
    gap: 10px;
}
main .hero .hero-container .hero-text .hero-redes p {
}
main .hero .hero-container .hero-text .hero-redes .iconos-redes {
}
main .hero .hero-container .hero-text .hero-redes .iconos-redes img {
}
main .hero .hero-container .hero-img {
    display: flex;
    position: relative;
    align-items: flex-end;
}
main .hero .hero-container .hero-img .img-back {
    position: absolute;
    width: 90vw;
}
main .hero .hero-container .hero-img .img-persona {
    position: relative;
    width: 70vw;
}




main .service {
    padding-top: 50px;
    text-align: center;
}
main .service h3 {
    font-size: .9rem;
}
main .service h2 {
    color: #0872BF;

}
main .service .ubicacion-card-container {

}
main .service .ubicacion-card-container .card-container {
    border: 2px solid #0872BF;
    border-radius: 15px;
    width: 280px;
    height: 400px;
}
main .service .ubicacion-card-container .card-container .card {
}
main .service .ubicacion-card-container .card-container .card img {
}
main .service .ubicacion-card-container .card-container .card .title-card {
}
main .service .ubicacion-card-container .card-container .card .descrip-card {
}





main .projects {
    text-align: center;
}
main .projects h2 {
}
main .projects p {
}
main .projects .container-img-projects {

}
main .projects .container-img-projects .projects-img {
    border: 2px solid #0872BF;
    border-radius: 15px;
    width: 280px;
}
main .projects .container-img-projects .projects-img img {
    width: 100%;
}
main .projects .section-btn {
}
main .projects .section-btn button {
    background-color: #0872BF;
    width: 100px;
    height: 40px;
    border-radius: 10px;
}







main .testimonials {
    text-align: center;
}
main .testimonials h3 {
}
main .testimonials h2 {
    color: #0872BF;
}
main .testimonials .container-card-testimonials {
}
main .testimonials .container-card-testimonials .container-card {
    border: 2px solid #0872BF;
    border-radius: 15px;
    width: 280px;
}
main .testimonials .container-card-testimonials .container-card img {
}
main .testimonials .container-card-testimonials .container-card p.text {
}
main .testimonials .container-card-testimonials .container-card .name {
}
main .testimonials .container-card-testimonials .container-card .info {
}
main .testimonials .section-btn {
    display: flex;
    justify-content: center;
    gap: 20px;
}
main .testimonials .section-btn button {
    border-radius: 50%;
    padding: 10px;
    background-color: #0872BF;
    font-size: 1.5rem;
}





footer{
}
footer h3 {
}
footer .container-portfolio {
}
footer .container-portfolio .company {
    display: flex;
    flex-direction: column;

}
footer .container-portfolio .company .company-container {
    display: flex;
    gap: 50px;
}
footer .container-portfolio .company .company-container ul {
    display: flex;
    flex-direction: column;
}
footer .container-portfolio .company .company-container ul h3 {
    
}
footer .container-portfolio .company .company-container ul a {
    font-size: .8rem;
}
footer .container-portfolio .company ul input {
    background-color: #2B2E3C;
    height: 50px;
    border-radius: 10px;
    border: none;
}
footer .container-portfolio .company ul button {
    background-color: #0872BF;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
}
footer .redes {
    display: flex;
}
footer .redes p {
}
footer .redes .redes-ico{
}
footer .redes .redes-ico i {
}
